.content__404 {overflow: hidden;min-height: calc(100vh - 6.25rem);display: flex;}

.content__404 .container {position: relative;width: 100%;}

.content__404__inner {
    border-top: 1px solid #000;
    padding-top: 1rem;
    padding-bottom: 5.75rem;
    background-image: url(../img/pages/404/bg.png);
    background-repeat: no-repeat;
    background-position: 91.5% 69%;
    background-size: 40% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content__404__title {
    margin-bottom: 10rem;
    font-size: 2.2rem;
}

.content__404__text {
    max-width: 33.5rem;
    font-weight: 450;
    line-height: 1.13;
}

.content__404__text p {
    margin-bottom: 1.25rem;
}

.content__404__text p:last-child {
    margin-bottom: 0;
}

@media (max-width:1200px) {
    .content__404__text {
        width: 55%;
    }

    .content__404__title {
        margin-bottom: 10rem;
    }

    .content__404__inner {
        background-size: 47%;
        background-position: 105% 50%;
    }
}

@media (max-width:650px) {
    .content__404__title {
        margin-bottom: 1.25rem;
    }

    .content__404__inner {
        margin-right: -0.8rem;
        background-size: 450px;
        background-position: calc(100% + 225px) 50%;
    }

    .content__404__text {
        font-size: 0.9rem;
        line-height: 1.25;
        width: calc(100% - 15rem);
    }
}


@media (max-width:450px) {

    .content__404__text {
        font-size: 0.85rem;
        width: 265px;
    }

    .content__404__text p {
        margin-bottom: 1.25rem;
    }

    .content__404__inner {
        background-position: calc(100% + 315px) -20px;
        padding-bottom: 3.5rem;
        background-size: 450px;
    }

}

@media (max-width:360px) {
    .content__404__text {
        max-width: 240px;
    }

    .content__404__inner {
        background-position: calc(100% + 375px) -20px;

        background-size: 485px;
    }
}