// font


@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Regular.otf') format("opentype"),
         url("../fonts/OpenSans-Regular-webfont.ttf") format("ttf"),
         url("../fonts/OpenSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Book.otf') format("opentype"),
         url("../fonts/SuisseIntl-Book.ttf") format("ttf"),
         url("../fonts/SuisseIntl-Book.woff") format("woff");
    font-weight: 450;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SuisseIntl';
    src: url('../fonts/SuisseIntl-Medium.otf') format("opentype"),
         url("../fonts/SuisseIntl-Medium.ttf") format("ttf"),
         url("../fonts/SuisseIntl-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ONY Expanded 2.1';
    src: url('../fonts/ONYExpanded2.1-Plastique.otf') format("opentype"),
         url("../fonts/ONYExpanded2.1-Plastique.ttf") format("ttf"),
         url("../fonts/ONYExpanded2.1-Plastique.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

