.product__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.6rem;
}

.product__list .product__card {
    width: calc(100% / 4 - 1.2rem);
    margin: 0 0.6rem 1.75rem;
    padding: revert;

    @media screen and (max-width:1250px) {
        width: calc(100% / 3 - 1.2rem);
    }

    @media screen and (max-width:650px) {
        width: calc(50% - 0.8rem);
        margin: 0 0.4rem 2.25rem;
    }
}


.category__top__list a {
    font-size: 1.1rem;
    margin-right: 1.3rem;
    margin-bottom: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    opacity: 0.4;
}

.category__top__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.category__top__list a.active {
    opacity: 1;
}

.category__top__list a:hover {
    opacity: 1;
}

.category__top__tags {
    display: block;
    white-space: nowrap;
    font-size: 0;
    padding-right: 2rem;
    overflow: scroll;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-left: 2rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category__top__tags::-webkit-scrollbar {
    display: none;
}

.category__top__tags a {
    font-size: 1.1rem;
    margin-right: 0.6rem;
    border-radius: 100px;
    border: 1px solid;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.1;
    display: inline-flex;
    color: inherit;
    padding: 0.55rem 1.1rem 0.5rem;
}

.category__top__tags a.active {
    background: #000;
    color: #fff;
}

.category__top__tags a:hover {
    background: #000;
    color: #fff;
}

.category__top__tags a:last-child {
    margin-right: 0;
}



@media screen and (max-width:950px) {
    .product__card__info {
        flex-direction: column;
    }

    .product__card__title {
        max-width: 250px;
        margin-bottom: 0.5rem;
    }

    .product__card__info_2 {
        width: 100%;
    }
}


@media screen and (max-width:650px) {
    .category__top__tags a {padding: 0.45rem 0.75rem;margin-right: 0.45rem;}
    .product__list {
        margin: 0 -0.4rem;
    }

    .category__top__tags {
        margin: 0 -0.8rem;
        padding: 0 0.8rem;
    }


    .category__top__list a {
        font-size: 1.15rem;
        margin-right: 1.1rem;
        margin-bottom: 0.75rem;
    }

    .category__top__list {
        margin-bottom: 0.35rem;
    }

    .category__top__tags a {
        font-size: 0.95rem;
        margin-right: 0.75rem;
    }
}