.product__page__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product__page__images {
    position: sticky;
    top: 0;
    width: 46.27%;
    margin-right: 80px;
    margin-right: 4.35%;
}

.product__page__add__main {
    position: absolute;
    bottom: 2rem;
    display: flex;
    right: 2rem;
    left: 2rem;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.product__page__info {
    width: 49.35%;
    padding-top: 1.55rem;
}

.product__page__images__main__item__inner img {
    width: 100%;
}

.product__page__title {
    margin: 0;
    font-size: 2.22rem;
    line-height: 1.1;
    font-weight: 500;
    max-width: 42rem;
    margin-bottom: 2.15rem;
}

.product__page__actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
}

.product__page__btn {
    background: #111;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    padding: 0.5rem 1.15rem;
    margin-right: 0.5rem;
    margin-bottom: 0.55rem;
}


.product__page__btn__icon svg {
    width: 100%;
    height: auto;
}

.product__page__btn__icon {
    width: 2rem;
    position: relative;
    margin-left: 1rem;
    overflow: hidden;
    height: 100%;
}

.product__page__btn__text {
    font-size: 1.15rem;
    line-height: 135%;
    text-transform: uppercase;
}

.product__page__btn__icon svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.25s;
}

.product__page__btn__icon svg:first-child {
    margin-left: -3rem;
}

.product__page__btn:hover .product__page__btn__icon svg:first-child {
    margin-left: 0;
}

.product__page__btn:hover .product__page__btn__icon svg:last-child {
    margin-left: 3rem;
}

.product__page__info__row {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.15rem;
    line-height: 1.35;
}

.product__page__info__row__title {
    width: 7.25rem;
    margin-right: 1.25rem;
    color: #A1A39A;
}


.product__page__info__row__content {
    width: calc(100% - 8.5rem);
}

.product__page__info__row__content p {
    margin-bottom: 1.25rem;
    line-height: 1.35;
}

.product__page__info__row:last-child {
    margin-bottom: 0;
}

.product__page__trigger__item__image {
    width: 100%;
}

.product__page__trigger__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    margin: 0 -1.2rem 2.25rem;
    margin-left: 7.3rem;
    max-width: 37rem;
}

.product__page__info__list {
    margin-bottom: 3.5rem;
}

.product__page__info__row__content p:last-child {
    margin-bottom: 0;
}

.product__page__trigger__item__image img {
    width: 77.5%;
    height: auto;
}

.product__page__trigger__item {
    width: calc(25% - 2.9rem);
    display: flex;
    flex-direction: column;
    margin: 0 1.45rem 1.2rem;
    padding: 1.389rem 1rem;
    background: #e4e5e0;
    border-radius: 1000px;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.product__page__trigger__item__text {
    font-size: 1.15rem;
    line-height: 1.25;
}

.product__page__tab__content {
    display: none;
    padding-top: 1.5rem;
    line-height: 1.5;
}

.product__page__tab__content p {
    margin-bottom: 1.5rem;
}

.product__page__tab__content p:last-child {
    margin-bottom: 2.5rem;
}

.product__page__tab__view {
    font-size: 1.1rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 450;
    cursor: pointer;
}

.product__page__tab__btn {
    width: 2rem;
    height: 2rem;
    position: relative;
    background: transparent;
    border: none;
    margin-right: -0.2rem;
    margin-top: -0.2rem;
}

.product__page__tab__btn:after,
.product__page__tab__btn:before {
    content: '';
    position: absolute;
    height: 0.125rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 67%;
    background: #000;
}

.product__page__tab__btn:after {
    transform: rotate(90deg);
}

.product__page__tab {
    border-top: 1px solid;
    padding: 0.85rem 0;
}

.product__page__tab:last-child {
    border-bottom: 1px solid;
}

.product__page__tab__btn.active:after {
    opacity: 0;
}


.product__page__images__add__item.active {
    border-color: #000;
}

.product__page__images__add__item {
    margin: 0 0.25rem;
    border: 1px solid transparent;
    width: 5rem;
    font-size: 0;
}


@media screen and (max-width:1400px) {
    .product__page__trigger__item {
        padding: 1.29rem 0.85rem;
    }

    .product__page__trigger__list {
        flex-wrap: wrap;
        max-width: none;
        margin: 0 auto 1.5rem;
    }

    .product__page__trigger__item__text {
        max-width: 12rem;
        margin: 0 auto;
        text-align: center;
    }

    .product__page__title {
        font-size: 1.75rem;
        margin-bottom: 1.75rem;
    }

}

@media screen and (max-width:1200px) {
    .product__page__info__row {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .product__page__info__row__content {
        width: 100%;
        margin-top: 0.25rem;
    }
}

@media screen and (max-width:1000px) {

    .product__page__trigger__item {
        padding: 0.718rem 0.35rem;
    }
}

@media screen and (max-width:870px) {

    .product__page__trigger__item {
        padding: 0.5225rem .35rem;
    }

    .product__page__trigger__list {
        margin-left: 6.8rem;
    }

    .product__page__trigger__item img {
        max-width: 80px;
    }

    .product__page__images__add__item {
        width: 4rem;
        margin: 0 0.15rem;
    }

    .product__page__add__main {
        bottom: 0.75rem;
    }

    .product__page__images {
        position: relative;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }
    .product__page__title{font-size: 2rem;margin-bottom: 1.5rem;}

    .product__page__info {
        width: 100%;
        padding-top: 0;
    }

    .product__page__info__row {
        flex-direction: row;
    }

    .product__page__info__row__content {
        width: calc(100% - 8.5rem);
    }
}


@media screen and (max-width:600px) {
    .product__page__add__main {
        display: none;
    }

    .product__page__info__row__title {
        width: 6rem;
        margin-right: 0.5rem;
    }

    .product__page__info__row__content {
        width: calc(100% - 6.5rem);
    }


    .product__page__info__row {
        font-size: 1.05rem;
    }

    .product__page__trigger__item__text {
        font-size: 1.05rem;
    }

    .product__page__trigger__item {
        margin: 0px 0.5rem 1rem;
        width: calc(50% - 1rem);
        background: transparent;
        aspect-ratio: auto;
    }

    .product__page__trigger__item__image {
        background: #e4e5e0;
        border-radius: 50%;
        aspect-ratio: 1;
        max-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product__page__trigger__list {
        justify-content: center;
        margin-bottom: 0;
        margin-bottom: 1rem;
    }

    .product__page__tab__view {
        font-size: 1.05rem;
    }

    .product__page__tab__content {
        padding-top: 1.25rem;
    }

    .product__page {
        margin-bottom: 3.5rem;
    }
}

@media screen and (max-width:450px) {

    .product__card__info {
        margin-top: 0.65rem;
    }
    .product__page__info__list {
        margin-bottom: 3rem;
    }

    .product__page__trigger__item img {
        max-width: 57.5%;
    }

    .product__page__trigger__item__image {
        max-width: 100px;
    }
    .product__card__title {

        font-size: 1.1rem;
    }

    .product__card__info_2 {
        font-size: 1.1rem;
    }

    .product__page__trigger__item {
        width: 90px;
        margin: 0 15px 15px;
    }

    .product__page__btn {
        padding: 0.75rem 1.75rem;
    }

    .product__page__trigger__list {
        margin-left: 0;
        max-width: 330px;
        margin: 0 auto 20px;
        margin-left: calc(7rem - 70px);
        margin-bottom: 34px;
    }
}