.breadcrumbs {
    margin-bottom: 1.2rem;
}

.breadcrumbs__list {
    list-style: none;
    display: flex;
    font-size: .8rem;
    padding: 0.5rem 0 0.888rem;
    border-bottom: 1px solid;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.breadcrumbs__list::-webkit-scrollbar {
    display: none;
  }


.breadcrumbs__list a {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs__list li {
    position: relative;
}

.breadcrumbs__list li:last-child:after {
    display: none;
}

.breadcrumbs__list li:after {
    width: 0.2rem;
    height: 0.2rem;
    content: '';
    background: #000;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.45rem;
}

.breadcrumbs__list a:hover {
    opacity: 0.5;
}


@media (max-width:650px) {

    .breadcrumbs {
        margin-bottom: 0.95rem;
    }

    .breadcrumbs__list li:after {
        margin: 0 0.75rem;
    }

    .breadcrumbs__list {
        padding-bottom: 0.75rem;
        padding-top: 0.15rem;
    }


.product__page__btn {padding: 0.75rem 1.75rem;}


}