
.product__card__image {
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.product__card__product__link {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}

.product__card__add__to__cart {
    position: absolute;
    width: calc(100% - 1rem);
    margin: 0 auto;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-align: center;
    background: #F3F2EC;
    border-radius: 5px;
    padding: 1rem 1rem;
    color: inherit;
    text-decoration: none;
    z-index: 1;
    opacity: 0;
    @media screen and (max-width:1500px) {
        padding: 0.85rem 1rem;
    }


    @media screen and (max-width:1200px) {
        padding: 0.75rem;
    }
    @media screen and (max-width:550px) {
        padding: 0.55rem;
    }
}

.product__card__add__to__cart:hover {
    background: #131313;
    color: #fff;
}

.product__card__info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    align-items: flex-start;
    font-size: 1rem;
    line-height: 1.25;
}

.product__card__image:hover .product__card__image__inner img {
    transform: scale(1.05);
}

.product__card__image__inner img {
    transition: transform .6s cubic-bezier(0.38, 0.005, 0.215, 1);
    width: 100%;
}

.product__card__dot {
    border-radius: 50%;
    margin-left: 0.3rem;
    background: transparent;
    color: #CCCDC8;
    font-size: 1.1rem;
    padding-bottom: 0.075rem;
}

.product__card__info_2 {
    display: flex;
    align-items: center;
}

.product__card__title {
    flex: 1;
    max-width: 18.5rem;
    font-weight: 400;
}


.product__card:hover .product__card__add__to__cart {opacity: 1;}

.product__card__title a {color: inherit;text-decoration: none;}

.product__card:hover .product__card__dot {color: #000;}

@media screen and (max-width:360px) {
.product__card__info {font-size: 0.85rem;}
}