.header__main.moved {
    background: #F3F2EC;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);
    padding: 1.265rem 0 1.355rem;

    @media screen and (max-width:850px) {
        padding: 0.75rem 0 0.5rem;
    }


}

.header__main.moved   .header__btn_menu{color: #000;}
.header__main.moved  .header__menu a{color:#000}


.header__main.moved .header__social{
    @media screen and (max-width:850px) {
    margin-right: 0;
    }
}

.header__main.moved .header__logo {
    .header__main.moved .header__logo{margin-top: 0;}
    @media screen and (max-width:850px) {
    margin-top: 0.35rem;
    }
}




.header__main.moved .header__logo__main path{    fill: #000;}
.header__main.moved .header__logo__text {
    transform: translate(0,-1rem);
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.header__oz:after{
    content: '';
    width: 1.77rem;
    height: 1.77rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23131313'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.982 15.2383L26.8271 13.0042L27.6315 16.0065C27.7808 16.5636 27.3891 17.1381 26.7777 17.1713C26.3395 17.1954 25.9516 16.885 25.8381 16.4614L24.1913 10.3153C24.1335 10.0998 24.3502 9.9135 24.5543 10.0019L30.4201 12.5436L29.6226 9.56744C29.5091 9.14382 29.6907 8.68155 30.0813 8.48282L30.0806 8.48301C30.093 8.4767 30.1055 8.47068 30.1181 8.46497C31.2064 10.4999 31.8677 12.7976 31.982 15.2383ZM1.28219 22.2866C1.53042 22.867 1.81199 23.4298 2.12448 23.9725C4.21788 23.2684 5.37308 20.9517 4.56282 18.8027C4.23599 17.9516 3.62695 17.2386 2.83754 16.7827C2.04814 16.3269 1.12621 16.1559 0.225909 16.2983C0.150813 16.3106 0.0766362 16.325 0.00341797 16.3412C0.0167136 16.9768 0.0670736 17.6033 0.152424 18.2186C0.422318 18.1235 0.709069 18.0841 0.995357 18.103C1.319 18.1245 1.63339 18.22 1.91429 18.3822C2.19519 18.5444 2.43508 18.7689 2.61545 19.0386C2.79582 19.3082 2.91185 19.6156 2.95459 19.9372C3.08248 20.8786 2.54469 21.8103 1.66613 22.1693C1.54175 22.2207 1.41318 22.2599 1.28219 22.2866ZM11.3491 13.4803L5.74219 14.9827C5.18809 15.1312 4.88657 15.7523 5.15583 16.2959C5.35269 16.6941 5.82511 16.8761 6.25446 16.7611L8.74933 16.0926L6.23984 22.2561C6.15782 22.4577 6.34221 22.6672 6.55326 22.6106L12.6425 20.979C13.0718 20.864 13.3901 20.4708 13.3613 20.0269C13.322 19.4217 12.751 19.0343 12.1969 19.1828L9.15739 19.9972L11.6651 13.8388C11.748 13.6347 11.5623 13.4232 11.3491 13.4803ZM23.8233 14.0594C23.2565 11.9442 20.3965 10.8726 17.4353 11.6661C14.4741 12.4595 12.5329 14.8175 13.0997 16.9327C13.6665 19.0479 16.5265 20.1195 19.4877 19.326C22.4489 18.5326 24.3901 16.1745 23.8233 14.0594ZM14.8867 16.4539C14.6284 15.4899 15.8682 14.0016 17.9142 13.4534C19.9601 12.9052 21.7778 13.5734 22.0363 14.5382C22.2948 15.5029 21.0548 16.9905 19.0088 17.5387C16.9629 18.0869 15.145 17.4179 14.8867 16.4539Z' fill='%23F3F2EC'/%3E%3C/svg%3E%0A");
}

.header__wb:after {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23131313'/%3E%3Cpath d='M26.9998 18.1991C26.9998 19.0248 26.71 19.711 26.1182 20.2576C25.5263 20.8042 24.83 21.0833 23.9715 21.0833H19.6665V11H23.6581C24.482 11 25.178 11.2791 25.7466 11.8025C26.3271 12.3375 26.6055 13.0004 26.6055 13.7912C26.6055 14.6751 26.2572 15.3497 25.5844 15.8498C26.4661 16.315 26.9998 17.1523 26.9998 18.1991ZM21.3257 12.5585V15.2101H23.6695C24.4008 15.2101 24.9576 14.6286 24.9576 13.8843C24.9576 13.1399 24.4008 12.5585 23.6695 12.5585H21.3257ZM23.9829 19.5249C24.7487 19.5249 25.3523 18.9085 25.3523 18.1177C25.3523 17.3268 24.7487 16.7104 23.9829 16.7104H21.3257V19.5365H23.9829V19.5249Z' fill='%23F3F2EC'/%3E%3Cpath d='M7.68906 21.0833L5 11.0007H6.76394L8.83004 18.7447L11.0444 11L12.6886 11.0007L14.9107 18.7858L16.9861 11.0026L18.75 11L16.0598 21.0815L14.0152 21.0794L11.8672 13.5498L9.71715 21.0814L7.68906 21.0833Z' fill='%23F3F2EC'/%3E%3C/svg%3E%0A");
    content: '';
    width: 1.77rem;
    height: 1.77rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}


.header__vk:after {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18C0 27.9411 8.05888 36 18 36C27.9411 36 36 27.9411 36 18C36 8.05888 27.9411 0 18 0C8.05888 0 0 8.05888 0 18Z' fill='%23131313'%3E%3C/path%3E%3Cpath d='M27.1481 13.1684C27.2859 12.7107 27.1481 12.375 26.4964 12.375H24.3377C23.7884 12.375 23.5374 12.6654 23.3996 12.9843C23.3996 12.9843 22.302 15.6608 20.7467 17.3963C20.2447 17.9013 20.0153 18.0608 19.7416 18.0608C19.6048 18.0608 19.406 17.9013 19.406 17.4435V13.1684C19.406 12.6191 19.2475 12.375 18.7897 12.375H15.3976C15.055 12.375 14.8483 12.629 14.8483 12.8711C14.8483 13.3909 15.626 13.511 15.7057 14.9757V18.1533C15.7057 18.8492 15.5807 18.9762 15.3051 18.9762C14.5737 18.9762 12.7939 16.2899 11.7377 13.2147C11.532 12.6172 11.3242 12.376 10.773 12.376H8.61525C7.99805 12.376 7.875 12.6664 7.875 12.9853C7.875 13.5582 8.60639 16.3932 11.2819 20.1427C13.0656 22.7031 15.5767 24.091 17.8644 24.091C19.2357 24.091 19.405 23.7829 19.405 23.2514V21.3161C19.405 20.6999 19.5359 20.5758 19.97 20.5758C20.289 20.5758 20.8382 20.7373 22.1189 21.9707C23.5817 23.4335 23.8238 24.09 24.6458 24.09H26.8035C27.4198 24.09 27.7279 23.7819 27.5507 23.1736C27.3568 22.5682 26.6579 21.6872 25.7306 20.6447C25.2266 20.0502 24.4735 19.4103 24.2442 19.0904C23.9242 18.678 24.0168 18.4958 24.2442 18.1297C24.2452 18.1306 26.8744 14.4274 27.1481 13.1684Z' fill='%23F3F2EC'%3E%3C/path%3E%3C/svg%3E");
    content: '';
    width: 1.77rem;
    height: 1.77rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__ok:after {
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 18C0 8.05888 8.05888 0 18 0C27.9411 0 36 8.05888 36 18C36 27.9411 27.9411 36 18 36C8.05888 36 0 27.9411 0 18Z' fill='%23131313'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.4858 12.904C23.4858 15.9069 21.0378 18.3549 18.0348 18.3549C14.9993 18.3549 12.5513 15.9069 12.5513 12.904C12.5513 9.90114 14.9993 7.45312 18.0348 7.45312C21.0378 7.45312 23.4858 9.90114 23.4858 12.904ZM20.2871 12.904C20.2871 11.6637 19.2752 10.6519 18.0348 10.6519C16.7619 10.6519 15.75 11.6637 15.7827 12.904C15.7827 14.1444 16.7946 15.1562 18.0348 15.1562C19.2752 15.1562 20.2871 14.1444 20.2871 12.904Z' fill='%23F3F2EC'%3E%3C/path%3E%3Cpath d='M23.3879 21.5211C22.4087 22.1412 21.3315 22.5655 20.2218 22.8267L23.3226 25.8296C23.9427 26.4498 23.9427 27.4616 23.3226 28.0818C22.7025 28.7019 21.6906 28.7019 21.0705 28.0818L18.0675 25.0788L15.0647 28.0818C14.7382 28.3755 14.3466 28.5387 13.9222 28.5387C13.4979 28.5387 13.1062 28.4082 12.7798 28.0818C12.1597 27.4616 12.1597 26.4498 12.7798 25.8296L15.8154 22.794C14.7056 22.5329 13.6285 22.1086 12.6493 21.4884C11.8985 21.0315 11.6701 20.0523 12.0944 19.3016C12.584 18.5508 13.5632 18.3551 14.3139 18.812C16.5335 20.2155 19.4384 20.2155 21.6579 18.812C22.4087 18.3224 23.4206 18.5508 23.8775 19.3016C24.3671 20.0523 24.1386 21.064 23.3879 21.5211Z' fill='%23F3F2EC'%3E%3C/path%3E%3C/svg%3E");
    content: '';
    width: 1.77rem;
    height: 1.77rem;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__main .header__social a:after {
    opacity: 0;
    transform: scale(0);
    width: 0;
    height: 0;
    transition: 0.35s;
}

.header__main.moved .header__social a:after {
    opacity: 1;
    width: 1.77rem;
    height: 1.77rem;
    transform: scale(1);
}

.header__main.moved .header__social a {
    margin-left: 0.75rem;
    margin-bottom: 0;
}

.header__main.moved  a span{display: inline-block;}
.header__main.moved .header__social a span {
    transform: scale(0);
    width: 0;height: 0;
}

.header__main.moved  .header__menu {
    margin-right: 3.5rem;
    margin-top: 0.25rem;
}

.header__main.moved .header__social a:before {
    opacity: 0;
}


.header__main.moved .header__social {
    flex-direction: row;
}