.pagination__block .container {
    display: flex;
    justify-content: space-between;
}

.pagination__block__center ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.pagination__block {
    margin: 3.25rem 0 4.85rem;
}

.pagination__link {
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid;
    padding: 0.5rem 1.075rem;
}

.pagination__link svg {
    margin: 0 0.75rem;
    width: 2rem;
    height: auto;
}

.pagination__link__prev svg {
    margin-left: 0;
}

.pagination__link:hover {
    background: #000;
    color: #fff;
}

.pagination__link:hover path {
    fill: #fff;
}

.pagination__link__next svg {
    margin-right: 0;
}

.pagination__link--dissable {
    pointer-events: none;
    opacity: 0.5;
}

.pagination__block__center {
    display: flex;
}

.pagination__block__center a {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
}

.pagination__block__center a.active {
    opacity: 1;
}

.pagination__block__center a:hover {
    opacity: 1;
}

.pagination__block__center li {
    font-size: 1rem;
    margin: 0 .8rem;
}


@media screen and (max-width:650px) {
    .pagination__link {font-size: 1rem;padding: .45rem 1rem;}

.pagination__link svg {width: 1.5rem;}
.pagination__block__center {width: 100%;order: -1;justify-content: center;margin-bottom: 1.5rem;}

.pagination__block .container {flex-wrap: wrap;max-width: 400px;}

.pagination__block {margin: 1.75rem 0 3.25rem;}
}