.recomendate__block__list .product__card {
    width: calc(25% - 1.2rem);
    margin: 0 0.6rem 1.75rem;

    @media screen and (max-width:1250px) {
        width: calc(100% / 3 - 1.2rem);
    }
    @media screen and (max-width:650px) {
        width: calc(50% - 0.8rem);
        margin: 0 0.4rem 2.25rem;
    }
}

.recomendate__block__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.6rem 5.25rem;

    @media screen and (max-width:650px) {
        margin: 0 -0.4rem;
    }
}

.recomendate__block__title {
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 2.25rem;

    @media screen and (max-width:1400px) {
        font-size: 4rem;
    }
    @media screen and (max-width:1250px) {
        font-size: 3.25rem;
    }
    @media screen and (max-width:650px) {
        font-size: 2.5rem;
    }
}

.product__page {
    margin-bottom: 4.5rem;
}