.footer {
    background: #E4E5E0;
    padding: 1.85rem 0
}

.footer__inner {
    background: #F3F2EC;
    padding: 2.5rem 2.15rem 2rem;
    border-radius: 16px;
}

.footer__main {
    margin-bottom: 4.25rem;
}

.footer__copyright {
    font-size: 1rem;
    line-height: 125%;
}

.footer__suscribe__title {
    font-family: $font-2;
    font-size: 2.2rem;
    line-height: 1.05;
    letter-spacing: -.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.5rem;
}

.footer__col--1 {
    width: 26%
}

.footer__top {
    display: flex;
    max-width: 85.5rem;
    margin: 0 auto 6.15rem;
}

.footer__bottom {
    justify-content: space-between;
    display: flex;
    max-width: 85.5rem;
    margin: 0 auto;
}

.footer__bottom__link {
    line-height: 125%;
    color: inherit;
    text-decoration: none;
    position: relative;
    font-size: 0.78rem;
    margin-top: 0.75rem;
    display: inline-flex;
}

.footer__suscribe__field {
    border: none;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);
    background: transparent;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 0;
}

.footer__suscribe__form form {
    position: relative;
}

.footer__suscribe__btn {
    position: absolute;
    right: 0;
    top: 1px;
    width: 3.3rem;
    height: 2.8rem;
    background: 0 0;
    border: none;
    appearance: none;
    overflow: hidden;
    transition: .3s;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__suscribe__btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    top: 100%;
    border-radius: 10px 10px 0 0;
    right: 0;
    transition: 0.3s;
}


.footer__suscribe__btn:hover:before {
    top: 0;
}

.footer__suscribe__btn:hover path {
    fill: #fff;
}

.footer__suscribe__btn svg {
    position: relative;
    transition: 0.3s;
}

.footer__suscribe__btn path {
    transition: 0.3s;
}

.footer__suscribe__btn:hover svg {
    transform: translate(-0.4rem, 0px);
}

.footer__bottom__link:before {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background-color: #131313;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: right center;
    transform: scaleX(0);
}

.footer__bottom__link:hover:before {
    transform-origin: left center;
    transform: scaleX(1);
}

.footer__menu__list {

    list-style: none;
    margin-bottom: 2.85rem;
    font-size: 1rem;

}

.footer__menu__list li {
    margin-bottom: 0.12rem;
}

.footer__menu__list a {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.footer__menu__list a:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background-color: #131313;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: right center;
    transform: scaleX(0);
}

.footer__menu__social {
    display: flex;
    align-items: center;
    font-size: 0;
    margin: 0 -0.4rem;
}

.footer__menu__social a {
    margin: 0 0.4rem;
    transition: 0.25s;
}

.footer__menu__social a:hover {
    opacity: 0.75;
}


.footer__menu__list a:hover:before {
    transform-origin: left center;
    transform: scaleX(1);
}

.footer__menu__title {
    line-height: 125%;
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    font-size: 1rem;
}

.footer__col--2 {
    font-size: 1.15rem;
    line-height: 125%;
    margin-left: 25%;
    width: 22.5%;
}

.footer__menu__list li:last-child {
    margin-bottom: 0;
}

.footer__menu__social svg {
    width: 100%;
    height: 100%;
}

.footer__menu__social a {
    display: flex;
    width: 2.25rem;
}



.footer__col--3 {
    width: 19%;
    margin-left: 8.5%;
}


.footer__logo {
    width: 8.45rem;
    display: inline-flex;
    font-size: 0;
}

.footer__logo svg {
    width: 100%;
    height: auto;
}


.btn__up {
    opacity: 0;
    pointer-events: none;
    transition: 0.25s;
    font-size: 0.666rem;
    right: 2.22rem;
    bottom: 2.22rem;
    position: fixed;
    width: 3.555rem;
    height: 3.555rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    background: #006548;
    border-radius: 50%;
    transform: translate(0, 1rem);

    @media (max-width:700px) {
        right: 1rem;
        bottom: 1rem;
        width: 3.25rem;
        height: 3.25rem;
        font-size: 0.65rem;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0rem);
    }

    &:hover {
        background: #000000;
    }

}



@media (max-width:1300px) {

    .footer__suscribe__title {
        font-size: 2rem;
    }

    .footer__col--1 {
        width: 32.5%;
    }

    .footer__col--2 {
        margin-left: 18%;
    }
}


@media (max-width:950px) {
    .footer__main {
        margin-bottom: 2rem;
    }

    .footer__col--1 {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer__top {
        flex-wrap: wrap;
        max-width: 500px;
        margin-bottom: 4rem;
    }

    .footer__suscribe__title {
        line-height: 1.25;
        max-width: 500px;
        margin: 0 auto 2rem;
    }

    .footer__suscribe__form {
        max-width: 500px;
        margin: 0 auto;
    }

    .footer__add {
        text-align: center;
    }

    .footer__col--2 {
        margin: 0;
        width: 50%;
    }

    .footer__col--3 {
        width: 45%;
        margin-left: 5%;
    }

    .footer__menu__list {
        margin-bottom: 2.5rem;
    }

    .footer__bottom {
        max-width: 500px;
        flex-wrap: wrap;
    }

    .footer__bottom .footer__col--1 {
        margin-bottom: 10px;
    }
}

@media (max-width:650px) {
    .footer__top {
        margin-bottom: 2.75rem;
    }

    .footer__main {
        margin-bottom: 1.45rem;
    }

    .footer__suscribe__title {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    .container {
        padding: 0 0.8rem;
    }

    .footer {
        padding: 1rem 0 1.75rem;
    }

    .footer__inner {
        padding: 2.5rem 1.15rem 2rem;
    }

    .footer__menu__list li {
        margin-bottom: 0.4rem;
    }

    .footer__logo {
        width: 8.6rem;
    }

    .footer__bottom__link {
        max-width: 115px;
    }

    .footer__menu__list {
        margin-bottom: 3rem;
    }
}

@media (max-width:430px) {
    .footer__suscribe__title {
        font-size: 1.45rem;
        max-width: 300px;
        margin: 0 auto 2rem;
        line-height: 1.075;
    }

    .footer__inner {
        padding-top: 1rem;
    }

    .footer__col--1 {
        margin-bottom: 2rem;
    }

    .footer__menu__title {
        margin-bottom: 0.85rem;
    }

    .footer__menu__list {
        margin-bottom: 4rem;
    }

    .footer__bottom__link {
        font-size: 0.8rem;
    }

    .footer__col--2 {
        width: 48%;
    }

}

@media (max-width:360px) {
    .footer__suscribe__title {
        font-size: 1.15rem;
    }
}