.header__main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__info {
    display: flex;
    flex-wrap: wrap;
    @media (max-width:850px) {
        align-items: center;
    }
}

.header__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
}

.header__main {
    padding: 1.35rem 0 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
    border-bottom: 1px solid transparent;
}

.header__menu ul {
    list-style: none;
    display: flex;
}

.header__menu {
    margin-right: 14.85rem;
}

.header__menu li {
    margin-left: 3.45rem;
}

.header__menu a {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.header__menu a:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background-color: currentColor;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: right center;
    transform: scaleX(0);
}

.header__menu a:hover:before {
    transform-origin: left center;
    transform: scaleX(1);
}

.header__social a:before {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background-color: currentColor;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: left center;
    transform: scaleX(1);
}

.header__social a {
    color: inherit;
    text-decoration: none;
    position: relative;
    margin-bottom: 0.45rem;
    will-change: contents ;
}

.header__social a:hover:before {
    transform: scaleX(0);
    transform-origin: right center;
}

.header__social a:last-child {
    margin-bottom: 0;
}

.header__logo {
    display: inline-flex;
    width: 9.65rem;
    color: inherit;
    flex-direction: column;
    margin-top: 0.25rem;
}



.header__logo svg {
    width: 100%;
    height: auto;
}

svg.header__logo__text {
    margin-top: 0.625rem;
    width: 8.7rem;
    bottom: -1.1rem;

    @media (max-width:850px) {
        width: 7.675rem;
    }
}

.header__logo path {
    fill: currentColor
}

.btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: -5px;
    color: inherit;


    span {
        background: currentColor;
        width: 85%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -9px);

        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 9px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}



@media (max-width:1050px) {
    .header__menu li {
        margin-left: 3rem;
    }

    .header__menu {
        margin-right: 4rem;
    }
}


@media (max-width:850px) {
    .header__menu {
        display: none;
    }

    .header__btn_menu {
        display: flex;
        margin-left: 3.75rem;
    }

    .header__social a {
        font-size: 0.9rem;
    }

    .header__main {
        padding: 1rem 0;
    }

    .header__logo {
        margin-top: 0;
        width: 7.5rem;
    }
}

@media (max-width:650px) {
    .header__social {
        margin-right: 1.5rem;
    }

    .header__main {
        padding: 0.85rem 0 1.25rem;
    }

    .header__logo {
        width: 7.75rem;
    }

}

@media (max-width:400px) {
    .header__btn_menu {
        margin-left: 2.25rem;
        margin-right: 5px;
    }


}

@media (max-width:360px) {
    .header__social {
        margin-right: 0;
    }
}





.body__home {
    .header__main {
        color: #fff;
    }
}

@import "../components/fixed__menu.scss";

.loaded{
    .header__social a span{transition: 0.3s;}
    .header__social{transition: 0.35s;}
    .header__social a{transition: 0.35s;}
    svg.header__logo__text{transition: 0.35s;}
    .header__main{transition: 0.35s;}
    .header__menu{transition: 0.35s;}
    .header__logo{transition: 0.35s;}
    .mobile__menu {
        transition: transform .6s cubic-bezier(.38, .005, .215, 1);}
}
