html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




@media (max-width: 599px) {
    html {
        font-size: 14px
    }
}


@media (min-width: 600px) and (max-width: 1199px) {
    html {
        font-size: 15px
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    html {
        font-size: 16px
    }
}

@media (min-width: 1600px) and (max-width: 1999px) {
    html {
        font-size: 18px
    }
}

@media (min-width: 2000px) and (max-width: 2399px) {
    html {
        font-size: 20px
    }
}

@media (min-width: 2400px) and (max-width: 2999px) {
    html {
        font-size: 26px
    }
}

@media (min-width: 3000px) and (max-width: 3999px) {
    html {
        font-size: 30px
    }
}

@media (min-width: 4000px) and (max-width: 4999px) {
    html {
        font-size: 38px
    }
}

@media (min-width: 5000px) {
    html {
        font-size: 45px
    }
}


body {
    font-family: $font;
    line-height: 1.4;
    color: $black;
    background: #F3F2EC;
}


// a {
//     transition: 0.25s
// }


.btn__default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.25s ease;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;

    @media (max-width:650px) {
        padding: 0 0.8rem;
    }
}


.title_x {

    font-weight: 500;
    font-size: 6.388rem;
    text-align: left;
    letter-spacing: -0.02em;
    line-height: 1.15;
    margin: 2rem 0 0.5rem;

    &--center {
        text-align: center;
    }


    @media (max-width:1250px) {
        font-size: 5rem;
        margin-bottom: 1.25rem;
    }

    @media screen and (max-width:950px) {
        font-size: 4.25rem;
    }

    @media screen and (max-width:650px) {
        font-size: 3rem;
        margin-top: 1.75rem;
        margin-bottom: 1.5rem;
    }

    @media screen and (max-width:400px) {
        font-size: 2.7rem;
        margin-bottom: 1.9rem;
        margin-top: 1.45rem;
    }

}

.animate__title {
    overflow: hidden;
}

.page__wrap {
    padding-top: 6.25rem;

    @media screen and (max-width:850px) {
        padding-top: 5rem;
    }
}