.modal__default {
    display: none;
    padding: 0;
    max-width: 586px;
    font-size: 14px;
    width: 100%;

    // @media screen and (max-width:520px) {
    //     font-size: 13px;
    // }

}



.mobile__menu {
    display: none;
    position: fixed;
    top: 0;
    background: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    padding: 0;
    right: 0;
    background-color: #f3f2ec;
    transform: translateX(100%);
    overflow: hidden;


    @media (max-width:850px) {
        display: block;
    }
}

.mobile__menu__line {
    border-bottom: 1px solid rgba(19, 19, 19, .2);
    margin: 0 -2rem 1.25rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
}

.mobile__menu.active {
    transform: translateX(0%);
}

@media (max-width:850px) {}

.mobile__menu__list ul {
    list-style: none;
}

.mobile__menu__link {
    font-weight: 400;
    font-size: 28px;
    line-height: 105%;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 7px 0;
}

span.mobile__menu__link__text {
    font-weight: 450;
    font-size: 12px;
    margin-left: 6px;
}

.mobile__menu__inner {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.mobile__menu__inner::-webkit-scrollbar {
    display: none;
}


.mobile__menu__top {
    padding-top:0.8rem;
}

.mobile__menu__list li {
    border-bottom: 1px solid rgba(19, 19, 19, 0.2);
}

.mobile__menu__bottom {
    margin-top: 40px;
    display: flex;
}

.mobile__menu__social {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mobile__menu__social a {
    margin: 0 6px;
}

.mobile__menu__social a:hover {
    opacity: 0.5;
}

@media (max-width:650px) {

    .mobile__menu__inner {
        padding: 0 .8rem 5rem;
    }

    .mobile__menu__line {
        margin: 0 -0.8rem 1.5rem;
        padding: 0 0.8rem 1.2rem;
    }
}