.home__about__feature__item__title {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 120%;
    margin-bottom: 2.2rem;
}

.home__about__feature__item {
    padding: 1.66rem 1.66rem 3.25rem;
    width: calc(100% / 4);
    border-right: 0.1rem solid #1D1D1D;
}

.home__about__feature {
    display: flex;
    flex-wrap: wrap;
    border: 0.1rem solid #1D1D1D;
    border-left: 0;
    border-right: 0;
}

.home__about__feature__item:last-child {
    border: navajowhite;
}

.home__about__feature__item__text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 145%;
}

.home__about {
    padding: 6.5rem 0 5.5rem;
}

.home__about__title {
    font-family: 'ONY Expanded 2.1';
    font-size: 4.335rem;
    line-height: 95%;
    max-width: 70rem;
    margin-bottom: 4.5rem;
}

.home__about__mission__text b {
    font-weight: 500;
    font-size: 1rem;
    line-height: 135%;
    text-transform: uppercase;
}

.home__about__mission__text p {
    margin-bottom: 3.5rem;
}

.home__about__line {
    border-top: 0.1rem solid #1D1D1D;
}

.home__about__mission {
    padding-top: 0.9rem;
    display: flex;
    flex-wrap: wrap;
}

.home__about__mission__col_1 {
    border-right: 0.1rem solid #1D1D1D;
    padding-right: 1.11rem;
    width: 67.45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
    padding-bottom: 12.95rem;
}

.home__about__mission__title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 135%;
    text-transform: uppercase;
}

.home__about__mission__text {
    max-width: 33.5rem;
}

.home__about__mission__col_2 {
    width: 32.55%;
    padding-left: 1.11rem;
    align-self: flex-end;
    padding-bottom: 5.5rem;
}
.home__about__mission__image__2__inner{
    overflow: hidden;
}
.home__about__mission__image__2__inner img {
    display: block;
    width: 100%;

}

.home__about__mission__image__2__text {
    font-weight: 500;
    line-height: 135%;

    text-transform: uppercase;
    margin-top: 0.5rem;
}

.home__about__mission__image__1 {
    margin-bottom: 8.55rem;
    display: flex;
    justify-content: flex-end;
}

.home__about__mission__image__1__wrap {
    width: 87.5%;
}

.home__about__mission__add__text {
    font-weight: 450;
    font-size: 1rem;
    line-height: 145%;
    margin-bottom: 2.22rem;
}

.home__about__mission__add {
    max-width: 17.667rem;
    margin-left: 34.5rem;
}

.home__about__mission__image__1__inner {
    font-size: 0;
    overflow: hidden;
}

.home__about__mission__image__1__text {
    font-weight: 500;
    line-height: 135%;
    text-transform: uppercase;
    margin-top: 0.45rem
}

.btn_add_mission {
    background: #1D1D1D;
    display: inline-flex;
    align-items: center;
    color: #F3F2EC;
    text-transform: uppercase;
    font-size: 1.12rem;
    line-height: 135%;
    border-radius: 110px;
    padding: 0.72rem 1.075rem;
    line-height: 1;
}

.btn_add_mission__icon {
    width: 2rem;
    height: 1.1rem;
    overflow: hidden;
    margin-left: 0.75rem;
    position: relative;
}

.btn_add_mission__icon svg {
    position: absolute;
    left: -40px;
    transition: 0.25s;
}

.btn_add_mission__icon svg+svg {
    left: 0;
}

.btn_add_mission:hover .btn_add_mission__icon svg {
    left: 0;
}

.btn_add_mission:hover .btn_add_mission__icon svg+svg {
    left: 100px;
}

.home__about__mission__image__2--mobile {
    display: none;
}


@media screen and (max-width:1900px) {
    .home__about__feature__item__title {
        font-size: 2rem;
        line-height: 1.15;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:1650px) {
    .home__about__feature__item__title {
        font-size: 1.75rem;
        line-height: 1.15;
        margin-bottom: 1.75rem;
    }

    .home__about__feature__item__text {
        font-size: 0.9rem;
    }
}


@media screen and (max-width:1350px) {
    .home__about__feature__item {
        border-bottom: .1rem solid #1d1d1d;
        width: 50%;
    }

    .home__about__feature__item:nth-child(2n) {
        border-right: none;
    }

    .home__about__feature__item:nth-last-child(-n + 2) {
        border-bottom: none;
    }
}


@media screen and (max-width:1300px) {
    .home__about__mission__col_1 {
        width: 57.5%;
        padding-bottom: 8.5rem;
    }

    .home__about__mission__col_2 {
        width: 42.5%;
    }

    .home__about__mission__image__1 {
        margin-bottom: 5.5rem;
    }

    .home__about__mission__text {
        max-width: 100%;
    }

    .home__about__mission__title {
        margin-bottom: 3.25rem;
    }

    .home__about__mission__image__1__wrap {
        width: 92.5%;
    }

    .home__about__mission__add {
        margin: 0 auto;
        max-width: 17rem;
    }

    .home__about__mission__add__text {
        line-height: 1.35;
        margin-bottom: 1.5rem;
    }

    .btn_add_mission {
        font-size: 1rem;
        padding: 0.85rem 1.5rem;
    }

    .home__about__title {
        font-size: 4rem;
    }
}

@media screen and (max-width:1000px) {
    .home__about__title {
        font-size: 3rem;
    }
}

@media screen and (max-width:750px) {
    .btn_add_mission__icon{    width: 2.45rem;}
    .home__about__title {
        margin-bottom: 2rem;
    }

    .home__about__mission__image__2 {
        display: none;
    }

    .home__about__mission__image__2--mobile {
        display: block;
    }

    .home__about__mission__col_2 {
        display: none;
    }

    .home__about__mission__col_1 {
        width: 100%;
        border: none;
        padding-bottom: 3.25rem;
    }

    .home__about__mission__image__2 {
        max-width: 400px;
        margin-bottom: 2.75rem;
    }

    .home__about__mission__add {
        margin: 0;
        max-width: 270px;
    }

    .home__about__mission__add__text {
        font-size: 1.1rem;
        font-weight: normal;
    }

    .home__about__mission__image__1 {
        margin-bottom: 3.25rem;
    }

    .home__about__mission__image__1__wrap {
        width: 100%;
    }

    .home__about__mission__text p {
        font-size: 1.1rem;
        line-height: 1.25;
        margin-bottom: 2rem;
    }

    .home__about__mission__title {
        margin-bottom: 2rem;
    }

    .home__about__mission__text {
        margin-bottom: 1rem;
    }

    .home__about__mission {
        padding-top: 1.75rem;
    }
}

@media screen and (max-width:700px) {
    .home__about__title {
        font-size: 1.85rem;
        max-width: 30rem;
    }
}

@media screen and (max-width:600px) {
    .home__about__feature__item {
        width: 100%;
        border-right: none;
        padding: 24px 0 30px;
    }

    .home__about {
        padding: 3.5rem 0 4rem;
    }
}

@media screen and (max-width:450px) {
    .home__about__title {
        font-size: 1.5rem;
        line-height: 1.1;
    }
}


@media screen and (max-width:420px) {

    .home__about__title{font-size: 1.6rem;    margin-bottom: 1.5rem;}
    .home__about__mission {
        padding-top: 1.15rem;
    }
.btn_add_mission {
    font-size: 1.375rem;
    padding: 1rem 1.75rem;
}

.home__about {
    padding: 3rem 0 1.75rem;
}
.home__about__mission__title {
    margin-bottom: 2rem;
    font-size: 0.95rem;
}
.home__about__feature__item{padding-bottom: 42px;}

.home__about__feature__item__text {
    font-size: 1.075rem;
    line-height: 1.2;
}
.home__about__mission__text b{font-size: 0.95rem;}
.home__about__mission__text p{font-size: 1rem;}

.home__about__feature__item__title {
    font-size: 1.57rem;
    line-height: 1.15;
    margin-bottom: 1.25rem;
}
.home__about__mission__col_1{    padding-bottom: 4.5rem;}
}

@media screen and (max-width:360px) {
    .home__about__title {
        font-size: 1.55rem;
    }
}