.home__about_0__text {
    font-size: 1.11rem;
    margin: 0 auto 4.5rem;
    max-width: 33.25rem;
    line-height: 1.3;
}

.home__about_0__list {
    border-top: .1rem solid #1d1d1d;
    padding: 1.1rem 0 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: .1rem solid #1d1d1d;
}

.home__about_0__list__col_1 {
    padding-right: 1.1rem;
    width: 32.5%;
}

.home__about_0__list__col_2 {
    padding-left: 1.1rem;
    width: 67.5%;
    padding-top: 7rem;
    border-left: .1rem solid #1d1d1d;
    padding-bottom: 1.1rem;
}

.home__about_0__list__item__img {
    display: block;
}

.home__about_0 {
    margin-bottom: 8.35rem;
}

.home__about_0__list__item__text {
    text-transform: uppercase;
    margin: 0rem 0 0.9rem;
    max-width: 36rem;
}

.home__about_0__title {
    font-size: 6.6rem;
    font-size: 6.2vw;
    text-align: center;
    font-family: 'ONY Expanded 2.1';
    line-height: 1.2;
    margin-bottom: 2.5rem;

    span {
        display: block;
    }
}
.home__about_0__list__item{overflow: hidden;}

.home__about_0__list__item__wrap{overflow: hidden;}
.home__about_0__title>div+div {
    margin-top: -1.5rem;

    @media screen and (max-width:900px) {
        margin-top: -0.75rem;
    }

    @media screen and (max-width:750px) {
        margin-top: -0.5rem;
    }
}

@media screen and (max-width:750px) {
    .home__about_0__title>div+div {
        padding-bottom: 1rem;
    }
}

.home__about_0__title b {
    font-size: .9em;
    font-weight: 450;
    font-family: SuisseIntl, sans-serif;
}

@media screen and (max-width:1200px) {
    .home__about_0 {
        margin-bottom: 5.5rem;
    }
}

@media screen and (max-width:750px) {

    .home__about_0__list__col_1 {
        width: 100%;
        max-width: 45%;
        padding: 0;
    }

    .home__about_0__list__col_2 {
        border: none;
        width: 100%;
        padding: 0;
        position: relative;
        padding-top: 1rem;
    }

    .home__about_0__list__item__text {
        max-width: 20rem;
        margin: 0;
        font-size: 0.9rem;
        position: absolute;
        top: -1rem;
        transform: translate(0, -100%);
        margin-left: calc(45% + 1.2rem);
    }

    .home__about_0__list {
        padding-bottom: 1.1rem;
    }

    .home__about_0 {
        margin-bottom: 4.75rem;
    }

    .home__about_0__text {
        margin: 0 0 3rem;
    }

    .home__about_0__title {
        text-align: left;
        margin-bottom: 2rem;
        font-size: 2.75rem;
    }
}


@media screen and (max-width:420px) {
.home__about_0 {
    margin-bottom: 4.15rem;
}
}

@media screen and (max-width:400px) {
    .home__about_0__list__item__text {
        font-size: 0.75rem;
    }
}

@media screen and (max-width:360px) {
    .home__about_0__title {
        font-size: 2.5rem;
    }

    .home__about_0__list__item__text {
        font-size: 0.65rem;
    }
}