.home__promo {
    display: flex;
    margin-top: -6.25rem;
    background: #a7afd1;
    padding: 12rem 2rem 8.5rem;
    margin-bottom: 6.15rem;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    min-height: 44rem;
    position: relative;

    @media screen and (max-width:850px) {
        margin-top: -5rem;
    }
}

.home__promo .container {
    padding: 0;
    width: 100%;
}

.home__promo__list {
    display: flex;
    flex-direction: column;
    font-family: 'ONY Expanded 2.1';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    align-items: flex-start;
    color: #fff;
    max-width: 30rem;
}

.home__promo__list a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    line-height: 1;
    margin-bottom: 1.7rem;
    position: relative;
}

.home__promo__list a.acttive {
    opacity: 1;
}

.home__promo__list a:hover {
    opacity: 1;
}

.home__promo__inner__wrap {
    position: relative;
    padding-bottom: 8.75rem;
}

.home__promo__list a.active {
    opacity: 1;
}

.home__promo__list a:after {
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='32' viewBox='0 0 65 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.9407 0H38.722C38.722 6.4 44.2689 11.9467 52.2561 14.9333H0V17.0667H52.0343C44.0469 20.0533 38.5002 25.6 38.5002 32H40.7189C40.7189 23.68 51.3687 17.0667 64.6808 17.0667V14.9333C51.5905 14.9333 40.9407 8.32 40.9407 0Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
    width: 0;
    height: 100%;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    left: calc(100% + 1.25rem);
    top: 50%;
    transform: translate(0, -50%) scaleX(0);;
    background-position: 50% 50%;
    margin-top: 0.5rem;
    opacity: 0;
    transition: .5s;
    overflow: hidden;
    width: 3.8rem;
    transform-origin: left center;
}

.home__promo__list a.active:after {
    opacity: 1;
    transform: translate(0, -50%) scaleX(1);
}

.home__promo__list__image__item {
    position: absolute;
    top: -35px;
    left: -60px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    bottom: 50px;
    opacity: 0;
    transition: 0.5s;
    transform: translate(0px, 1rem);

    &.active {
        opacity: 1;
        transform: translate(0px, 0rem);
        transition-delay: 0.5s;
    }
}

.home__promo__list__image {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 30rem);
    height: 100%;
    align-items: center;


}

.home__promo__inner {
    color: #fff;
    transition: 0.25s;
}

.home__promo__text {
    font-size: 1.335rem;
    position: absolute;
    bottom: 4.45rem;
    line-height: 1.3;
}

.home__promo__label {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 6.667rem;
    font-size: 0;
    animation: rotating 15s linear infinite;
}

.home__promo__label img {
    width: 100%;
}

.home__promo__list__image__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1200px) {

    .home__promo__list {
        font-size: 3.5rem;
    }

    .home__promo__list {
        font-size: 3.5rem;
        max-width: 20rem;
    }

    .home__promo__list__image__item {
        width: 1000px;
        left: -5rem;
        pointer-events: none;
    }

    .home__promo__list__image {
        width: calc(100% - 20rem);
        margin-right: -2rem;
    }
}

@media screen and (max-width:750px) {
    .home__promo {
        margin-bottom: 4.5rem;
        height: auto;
        min-height: auto;
    }

    .home__promo__inner__wrap {
        order: 1;
        padding-bottom: 1rem;
        position: static;
    }



    .home__promo__list {
        font-size: 2.75rem;
        max-width: 17.5rem;
    }

    .home__promo__list a:after {
        width: 2.25rem;
        background-size: contain;
        margin-top: 0.25rem;
    }

    .home__promo__list__image {
        width: calc(100% - 17.5rem);
        left: 20rem;
        top: 0;
        right: auto;
    }

    .home__promo__list__image__item img {
        object-position: 0 0;
        max-width: none;
    }

    .home__promo__inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .home__promo__text {
        order: 3;
        position: static;
        font-size: 1.1rem;
    }

    .home__promo__label {
        order: 2;
        position: static;
        margin-bottom: 2.25rem;
        width: 5.7rem;
    }

    .home__promo__list__image__item {
        width: 725px;
    }
}

@media screen and (max-width:520px) {

    .home__promo {
        padding: 10rem 0.8rem 4rem;
    }

    .home__promo__list__image__item {
        top: 0;
        bottom: auto;
    }

    .home__promo__list {
        font-size: 2.6rem;
        width: 16.5rem;
    }

    .home__promo__list a {
        margin-bottom: 1.45rem;
        font-size: 2.9rem;
    }

    .home__promo__inner__wrap {
        padding-bottom: 3.5rem;
    }

    .home__promo__list__image__item {
        height: 100%;
    }

    .home__promo__list__image {
        width: calc(100% - 16.5rem);
        left: 17.5rem;

        height: 85%;

    }
}


@media screen and (max-width:360px) {
    .home__promo.js__home__promo__wrap {
        margin-bottom: 4.5rem;
    }

    .home__promo__list {
        font-size: 2.15rem;
        width: 14rem;
    }

    .home__promo__list a:after {
        width: 1.75rem;
        margin-top: 0.3rem;
        margin-left: 0.05rem;
    }

    .home__promo__list__image {
        left: 15.5rem;
        width: calc(100% - 14rem);
        height: 80%;
    }

}

.loaded {
    .home__promo{transition: 0.5s;}
    .home__promo__list a{transition: 0.25s;}
}