.home__catalog__top__line {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.5rem;
}

.home__catalog__title {
    font-size: 6.22rem;
    font-weight: 500;
    line-height: 1;
}

.home__catalog__top__link {
    margin-bottom: 13px;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.home__catalog__top__link:before {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background-color: currentColor;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: left center;
    transform: scaleX(1);
}

.home__catalog__top__link:hover:before {
    transform: scaleX(0);
    transform-origin: right center;
}

.home__catalog__block__slide {
    padding: 0 0.55rem;
    box-sizing: border-box;
}

.home__catalog__block__info {
    width: calc(25% + 1.1rem);
    padding: 0 1.1rem;
    margin-left: -0.55rem;
    position: absolute;
    z-index: 5;
    background: #f3f2ec;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home__catalog__block {
    position: relative;
    margin: 0 -0.55rem 1.8rem;
}

.home__catalog__block__arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    border: 1px solid #111;
    border-radius: 50px;
    padding: 0.2rem 0.15rem;
}

.home__catalog__block__arrow button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.15rem;
    transition: 0.25s;
}

.home__catalog__block__arrow button:hover {
    background: #E4E5E0;
}

.home__catalog__block__arrow button svg {
    width: 50%;
    height: 50%;
}

.home__catalog__block__info--2 {
    left: 25%;
}

.home__catalog__block__title {
    font-weight: 500;
    font-size: 2.65rem;
    line-height: 1;
}

.home__catalog__block__text {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-right: 5rem;
}

.home__catalog__block__count {
    font-size: .8rem;
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}

.home__catalog__block__info--3 {
    left: 50%;
}

.home__catalog__block__info--4 {
    left: 75%;
}

.home__catalog__block__info_x {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.home__catalog__block__info__inner {
    position: relative;
}

.home__catalog__block__info__inner img {
    width: 100%;
    height: 100%;
    display: block;
}


.home__catalog__block__title a {
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.home__catalog__block__title a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    content: "";
    background-color: currentColor;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transform-origin: right center;
    transform: scaleX(0);
}

.home__catalog__block__title a:hover:after {
    transform-origin: left center;
    transform: scaleX(1);
}

@media screen and (max-width:1400px) {
    .home__catalog__block__title {
        font-size: 2rem;
    }

    .home__catalog__block__count {
        margin-top: 0.55rem;
        font-size: 0.7rem;
    }


}



@media screen and (max-width:1200px) {
    .home__catalog__title {
        font-size: 4.5rem;
    }

    .home__catalog__block__info--2 {
        left: 33.33%;
    }

    .home__catalog__block__info {
        width: calc(33.33% + 1.1rem);
    }

    .home__catalog__block__info--3 {
        left: 66.66%;
    }

    .home__catalog__block__info--4 {
        left: 0;
    }


}

@media screen and (max-width:900px) {
    .home__catalog__block__arrow button {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.125rem;
    }

    .home__catalog__block__arrow {
        padding: 0.125rem 0.1rem;
    }
}

@media screen and (max-width:800px) {
    .home__catalog__title {
        font-size: 3.25rem;
    }

}

@media screen and (max-width:700px) {

    .home__catalog__top__line {
        margin-bottom: 2rem;
    }

    .home__catalog__top__link {
        font-size: 0.85rem;
        margin: 0;
    }

    .home__catalog__block__info {
        width: 100%;
        position: static;
        height: auto;
        padding: 0 0.5rem;
        margin: 0 0 1.5rem;
    }

    .home__catalog__block__info__inner img {
        display: none;
    }

    .home__catalog__block__info_x {
        position: static;
        display: flex;
        align-items: center;
    }

    .home__catalog__block {
        margin-bottom: 3rem;
    }

    .home__catalog__block__text {
        flex: 1;
    }

    .home__catalog__block__arrow {
        top: 0;
        bottom: auto;
    }

    .home__catalog__block__count {
        align-self: flex-start;
        margin-top: 0.1rem;
        margin-left: 0.35rem;
        font-size: 0.95rem;
    }

    .home__catalog__block__title {
        font-size: 1.85rem;
    }
}



@media screen and (max-width:420px) {

    .home__catalog__block__info{margin-bottom: 1rem;}
    .home__catalog__block__count {
        align-self: flex-start;
        margin-top: 0.275rem;
        margin-left: 0.275rem;
        font-size: 0.9rem;
    }



    .home__catalog__block__title {
        font-size: 2.015rem;
    }
    .home__catalog__title{font-size: 2.85rem;}

    .home__catalog__top__link {

        margin-bottom: 0.35rem;
    }
    .home__catalog__top__line{    font-size: 2.85rem;margin-bottom: 2.55rem;}
}