.home__social__title {
    font-family: "ONY Expanded 2.1";
    font-size: 5.25rem;
    margin-bottom: 2.25rem;
    max-width: 44rem;
    line-height: 1.2;
}

.home__social__title>div+div {
    margin-top: -1.5rem;
}

.home__social__title span {
    display: block;
}

.home__social__text {
    font-size: 1.15rem;
    line-height: 135%;


    text-transform: uppercase;
    margin-bottom: 3.25rem;
    max-width: 32rem;
}

.home__social__row {
    display: flex;
    flex-wrap: wrap;
}

.home__social {
    padding: 8.33rem 0 6.15rem;
    display: flex;
    justify-content: flex-end;
    background: url(../img/pages/home/decore/1.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 0 55%;
}

.home__social .container {
    display: flex;
    justify-content: flex-start;
    max-width: 54.75rem;
    margin: 0;
    width: 100%;
}

.home__social__link {
    border: 1px solid #111;

    border-radius: 100px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.15rem;
    padding: .45rem 1.05rem;
    margin-right: 0.55rem;
    margin-bottom: 0.55rem;
}

.home__social__link:hover {
    background: #111;
    color: #fff;
}

@media screen and (max-width:1700px) {
    .home__social .container {
        justify-content: flex-end;
    }
}

@media screen and (max-width:1350px) {
    .home__social__title {
        font-size: 4.5rem;
    }

    .home__social .container {
        max-width: none;
    }
}



@media screen and (max-width:900px) {
    .home__social {
        background-size: auto 100%;
        background-position: -30rem 55%;
        padding: 5rem 0;
    }

    .home__social__title {
        font-size: 4rem;
        margin-bottom: 2.75rem;
    }

    .home__social__text {
        margin-bottom: 2.75rem;
    }
}

@media screen and (max-width:750px) {
    .home__social__title>div+div {
        margin-top: -0.75rem;
    }

    .home__social .container {
        justify-content: flex-start;
    }

    .home__social {
        position: relative;
        background: none;
        overflow: hidden;
    }

    .home__social:before {
        content: "";
        position: absolute;
        left: 60%;
        width: 100%;
        height: 100%;
        background-image: url(../img/pages/home/decore/2.png);
        background-repeat: no-repeat;
        background-position: 0% 85%;

        pointer-events: none;
    }

    .home__social__title {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .home__social__text {
        line-height: 1.6;
        font-size: 1rem;
        max-width: 290px;
        margin-bottom: 2rem;
    }

    .home__social {
        padding: 3.5rem 0;
    }

    .home__social__row {
        flex-direction: column;
        align-items: flex-start;
    }

    .home__social__link {
        padding: .6rem 1.2rem;
    }
}

@media screen and (max-width:550px) {

    .home__social {
        padding: 3rem 0;
    }
}



@media screen and (max-width:430px) {
    .home__social__text {
        line-height: 1.4;
    }

    .home__social {
        padding-top: 4rem;
        padding-bottom: 4.5rem;
    }

    .home__social:before {
        background-size: 125%;
    }

    .home__social__title {
        margin-bottom: 1.4rem;
        font-size: 2.85rem;
    }
}



@media screen and (max-width:360px) {
    .home__social__title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .home__social__text {
        font-size: 0.9rem;
    }

    .home__social__link {
        font-size: 1rem;
    }

    .home__social:before {
        background-size: 135% auto;
    }
}