.home__where__buy .container {
    padding: 0;

}


.home__where__buy {
    background: #ECEBE4;
    border-radius: 16px;
    margin: 0 1.95rem;
    padding: 0.75rem 0 3.75rem;
}

.home__where__buy__list {
    max-width: 85rem;
    margin: 0 auto 3rem;
    display: flex;
    flex-wrap: wrap;
}

.home__where__buy__item {
    width: calc(100% / 5);
    padding: 0.35rem;
    font-size: 0;
    mix-blend-mode: darken;
    text-align: center;
}

.home__where__buy__add__text {
    text-align: center;
    max-width: 33rem;
    margin: 0 auto;
    line-height: 145%;
    font-size: 1rem;
}

.home__where__buy__add__text:before {
    width: 4.5rem;
    height: 0.1rem;
    background: #000;
    content: '';
    display: block;
    margin: 0 auto 1.75rem;
}


.home__where__buy__marque__wrap {
    overflow: hidden;
    white-space: nowrap
}

.home__where__buy__marque {
    font-family: 'ONY Expanded 2.1';
    font-style: normal;
    font-weight: 400;
    font-size: 6.667rem;
    line-height: 105%;
    margin-bottom: 7.55rem;
}

.home__where__buy__item img {
    mix-blend-mode: darken;
    transition: 0.4s  cubic-bezier(0.38, 0.005, 0.215, 1);
    width: 100%;
}

.home__where__buy__item img:hover {
    transform: scale(0.95);
}

.home__where__buy__inner {
    position: relative;
    overflow: hidden;
}

.marquee {
    display: inline-block;
}



@media screen and (max-width:900px) {
    .home__where__buy__marque {
        font-size: 4.5rem;
        margin-bottom: 4.25rem;
    }

    .home__where__buy {
        padding: 1.25rem 0 3.75rem;
    }

    .home__where__buy__item {
        width: 25%;
        padding: 0.5rem;
    }

    .home__where__buy__item img {
        max-width: 95%;
    }

    .home__where__buy__list {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:750px) {

    .home__where__buy__item {
        width: 33.33%;
    }
}

@media screen and (max-width:650px) {
    .home__where__buy {
        margin: 0 0.8rem;
    }
}

@media screen and (max-width:550px) {
    .home__where__buy__item {
        width: 50%;
        padding: 0 1rem;
        margin-bottom: 1.35rem;
    }

    .home__where__buy__item img {
        max-width: 200px;
    }

    .home__where__buy__marque {
        margin-bottom: 3.5rem;
        font-size: 4rem;
    }

    .home__where__buy {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .home__where__buy__list {
        margin: 0 -0.15rem 1rem;
    }

    .home__where__buy__add__text {
        font-size: 1.15rem;
    }
}


@media screen and (max-width:420px) {
    .home__where__buy__list{margin-bottom: 3.5rem;}
    .home__where__buy__marque{font-size: 3rem;margin-bottom: 2.15rem;}
    .home__where__buy__add__text:before{width: 3rem;margin-bottom: 0.95rem;}
    .home__where__buy__item{margin-bottom: 0.25rem;}
    .home__where__buy__add__text {
        max-width: 320px;
        font-size: 1.075rem;
        line-height: 1.3;
    }
}